@page "/dashboard/overview"
@using System.Net.Http

<PageTitle>Suite Dreams - Dashboard Overview</PageTitle>

<div class="view_hotel_page">
    <div class="text-center mb-4">
        <h3 class="fw-bold">Dashboard</h3>
    </div>
    @if (users == null)
    {
        <p><em>Loading users...</em></p>
    }
    else if (users.Length == 0)
    {
        <div class="alert alert-info">No users found.</div>
    }
    else
    {
        <div class="mx-5">
            <div class="row">
                <div class="col-12">
                    <UserTable users="@users" />
                </div>
            </div>
        </div>
    }
</div>

@code {
    private UserGetDto[]? users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await ApiService.GetAllUsersAsync(0);

            // Sortér brugere efter UserId i stigende rækkefølge
            if (users != null && users.Length > 1)
            {
                users = users.OrderBy(u => u.Id).ToArray();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fejl ved hentning af hoteller: {ex.Message}");
            users = Array.Empty<UserGetDto>();
        }
    }
}