@inject ChatService ChatService
@inherits LayoutComponentBase
<div class="">
    <NavMenu />
</div>
<div class="page">
    <div class="sidebar_left">
        <SideBar />
    </div>

    <main>
        <div class="content w-100 h-100">
            <div class="container-lg py-4">
                <div class="mx-lg-5">
                    @Body
                </div>
            </div>
            <NavLink href="/chat"><i class="bi bi-chat chat-fixed"></i></NavLink>
        </div>
    </main>
</div>